# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Build output (if using)
dist/
build/

# Editor/OS files
.DS_Store
.vscode/
.idea/

# Others
npm-debug.log*
yarn-debug.log*
coverage/
